# Google Cloud Text-to-Speech API Key
# Obtenla en: https://console.cloud.google.com/apis/credentials
# Habilita la API: https://console.cloud.google.com/apis/library/texttospeech.googleapis.com
VITE_GOOGLE_TTS_KEY=
